<main>
    <div style="height: 5rem;"></div>
    <div>
        <div>
            <h2>FORTALEZA</h2>
            <p>Buena imagen en la sociedad, la empresa se destaca y ha sido escogida en la sociedad por diseñar una solución integral tanto en la estratégica como en lo táctico para Perro Feliz.</p>
        </div>
        <div>
            <h2>DEBILIDAD</h2>
            <p>Debilidad de personal, en este caso en el área de contaduría.</p>
        </div>
        <div>
            <h2>OPORTUNIDAD</h2>
            <p>Adquisición de nuevas sucursales. Perro Feliz tiene planes para añadir 3 establecimientos más en el siguiente año fiscal e incluso en otras ciudades.</p>
        </div>
        <div>
            <h2>AMENAZA</h2>
            <p>Obsolescencia de equipos informáticos. Ante la cantidad de clientes se corre el riesgo de perder los soportes informáticos de historiales de los fichajes de los canes.</p>
        </div>
    </div>
</main>
