<main>
    <div>
        <h1>Sanitario "PerroFelíz"</h1>
        <p>Nuestro Módulo Sanitario "Perro Feliz" utiliza tecnología de vanguardia para mantener a las mascotas limpias y saludables. Contamos con bañeras especiales que combinan agua y aire para brindar un baño suave y relajante. Además, nuestras secadoras de última generación utilizan tecnología de flujo de aire controlado para secar a las mascotas de manera eficiente sin causarles estrés. ¡Tu perro saldrá luciendo y sintiéndose como una estrella de cine!</p>
    </div>
</main>
