<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Veterinaria</h1>
                <h1 class="text-white font-weight-bold">PerroFeliz</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75"> Nuestra veterinaria ofrece un servicio excepcional y de calidad para las mascotas de la ciudad.</p>
                <p class="text-white-75 mb-5"> ¡Confíe en nosotros y haga feliz a su perro en PerroFelíz!</p>
            </div>
        </div>
    </div>
</header>
<section class="page-section bg-primary">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">¡Nosotros estamos cuando nos necesitas!</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">No importa si es una emergencia fuera del horario de atención habitual o una visita de rutina, nuestro equipo siempre está disponible para ayudarlo a cuidar de su amigo peludo.</p>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">A tu servicio</h2>
        <p class="text-center">Cuidado veterinario excepcional para su perro</p>
        <hr class="divider"/>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-stars fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Acicalamiento</h3>
                    <p class="text-muted mb-0">Transformamos a tu perro en su mejor versión</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Tecnologia</h3>
                    <p class="text-muted mb-0">En continuo desarrollo, para brindarte siempre lo mejor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Emergencias 24/7</h3>
                    <p class="text-muted mb-0">¡Listos para atenderte en cualquier momento!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Trabajamos con amor</h3>
                    <p class="text-muted mb-0">¿Es realmente una veterinaria si no trabajamos con amor?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-1.png" alt="..." />
                    <div class="portfolio-box-caption px-1">
                        <div class="project-category text-white-50">Módulo Sanitario "Perro Feliz"</div>
                        <div class="project-card">Tecnología de vanguardia para mantener a las mascotas limpias y saludables. Contamos con bañeras especiales que combinan agua y aire para brindar un baño suave y relajante y sin causarles estrés. ¡Tu perro saldrá luciendo y sintiéndose como una estrella de cine!</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/assets/portafolio-2.png" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-2.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Cuartos de Examen</div>
                        <div class="project-card">Nuestros Cuartos de Examen están equipados con tecnología médica de vanguardia para brindar el mejor cuidado a tu mascota. Este cuarto permiten a nuestros veterinarios evaluar, diagnosticar de manera precisa la salud de su mascota para posteriormente si es o no necesario llevarlo al cuarto de operaciones </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-3.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Cuartos de Operación</div>
                        <div class="project-card">Contamos con tecnología quirúrgica de última generación para garantizar la seguridad y el bienestar de tu mascota durante los procedimientos. Utilizamos sistemas de anestesia avanzados y monitoreo en tiempo real para asegurar que tu mascota esté en las mejores manos. Además, nuestros sistemas de ventilación especializados mantienen un ambiente estéril y libre de contaminantes.</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-4.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Cinta Transportadora de Perro</div>
                        <div class="project-card">Utilizamos sensores de movimiento y control automático para permitir un desplazamiento seguro de las mascotas a lo largo de nuestras instalaciones. Nuestras jaulas proporcionan un espacio amplio y cómodo para que tu perro se sienta tranquilo y relajado, eliminando la necesidad de que tu perro camine o sea transportado manualmente.</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-5.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Barniz protector para dientes</div>
                        <div class="project-card">Este producto ha sido desarrollado para limpiar los dientes, combatir la placa y el sarro, ayudando a prevenir las enfermedades de los dientes y las encías, así como también el mal aliento en perros. Mientras se disuelve libera un refrescante aliento, y su rico sabor a pollo hace que sea muy atractivo para su mascota.</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-6.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Profesionales</div>
                        <div class="project-card">Contamos con expertos veterinarios altamente capacitados y comprometidos con brindar atención excepcional a cada paciente. Además, contamos con un personal amable y atento que se preocupa por el bienestar de su mascota y está disponible para responder cualquier pregunta o inquietud que tenga.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<section class="container mt-5">
    <div class="row gx-4 gx-lg-5 justify-content-center my-5">
        <div class="col-lg-8 col-xl-6 text-center">
            <h2 class="mt-0">Nuestros clientes</h2>
            <hr class="divider"/>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="/assets/feedback-1.png" alt="...">
        </div>
        <div class="col-4">
            <img class="img-fluid" src="/assets/feedback-3.png" alt="...">
        </div><!-- /.col-lg-4 -->
        <div class="col-4">
            <img class="img-fluid" src="/assets/feedback-2.png" alt="...">
        </div>
    </div>
</section>

<section class="page-section pt-5" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">¡Reserva tu turno!</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">* Recuerda que los turnos solamente aplican a las cirugías, para cualquier otro procedimiento dirígete a alguno de nuestros locales ¡sin espera alguna!</p>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d353.19660498824663!2d8.623907621505305!3d44.911693350727944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47877416947bff95%3A0xb26fc2a9a2705ba4!2sVia%20Marengo%2C%2017%2C%2015121%20Alessandria%20AL%2C%20Italia!5e0!3m2!1ses-419!2sar!4v1684350267128!5m2!1ses-419!2sar" width="100%" height="450rem" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-6">
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-10">
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Nombre completo</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Celular</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Mensaje</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Enviar</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                    <i class="bi-phone fs-2 mb-3 text-muted"></i>
                    <div>+54 (17) 412-3123</div>
                </div>
            </div>
        </div> 
    </div>
</section>

