<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Veterinaria</h1>
                <h1 class="text-white font-weight-bold">PerroFeliz</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75"> Nuestra veterinaria ofrece un servicio excepcional y de calidad para las
                    mascotas de la ciudad.</p>
                <p class="text-white-75 mb-5"> ¡Confíe en nosotros y haga feliz a su perro en PerroFelíz!</p>
            </div>
        </div>
    </div>
</header>
<section class="page-section bg-primary">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">¡Nosotros estamos cuando nos necesitas!</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">No importa si es una emergencia fuera del horario de atención habitual o
                    una visita de rutina, nuestro equipo siempre está disponible para ayudarlo a cuidar de su amigo
                    peludo.</p>
            </div>
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">A tu servicio</h2>
        <p class="text-center">Cuidado veterinario excepcional para su perro</p>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-stars fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Acicalamiento</h3>
                    <p class="text-muted mb-0">Transformamos a tu perro en su mejor versión</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Tecnologia</h3>
                    <p class="text-muted mb-0">En continuo desarrollo, para brindarte siempre lo mejor</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Emergencias 24/7</h3>
                    <p class="text-muted mb-0">¡Listos para atenderte en cualquier momento!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Trabajamos con amor</h3>
                    <p class="text-muted mb-0">¿Es realmente una veterinaria si no trabajamos con amor?</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/services-1.png" alt="...">
            <div class="intro-text cuadro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Servicios</span>
                    <span class="section-heading-lower">veterinarios</span>
                </h2>
                <p class="mb-3">Nuestro servicio veterinario de vanguardia combina tecnología de última generación con
                    un equipo altamente profesional y apasionado.</p>
            </div>
        </div>
    </div>
</section>

<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-7.png" alt="..." />
                    <div class="portfolio-box-caption px-1">
                        <div class="project-category text-white-50">Emergencias</div>
                        <div class="project-card">Brindamos atención rápida y profesional en nuestras sucursales y
                            estamos disponibles para cuidar de tu mascota en momentos críticos, incluso fuera del
                            horario de atención habitual.</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="/assets/portafolio-2.png" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-2.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Cuartos de Examen</div>
                        <div class="project-card">Nuestros Cuartos de Examen están equipados con tecnología médica de
                            vanguardia para brindar el mejor cuidado a tu mascota. Este cuarto permiten a nuestros
                            veterinarios evaluar, diagnosticar de manera precisa la salud de su mascota para
                            posteriormente si es o no necesario llevarlo al cuarto de operaciones </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-3.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Cuartos de Operación</div>
                        <div class="project-card">Contamos con tecnología quirúrgica de última generación para
                            garantizar la seguridad y el bienestar de tu mascota durante los procedimientos. Utilizamos
                            sistemas de anestesia avanzados y monitoreo en tiempo real para asegurar que tu mascota esté
                            en las mejores manos. Además, nuestros sistemas de ventilación especializados mantienen un
                            ambiente estéril y libre de contaminantes.</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-8.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Tratamiento de hormonas</div>
                        <div class="project-card">Esta terapia ayuda a regular las hormonas en el cuerpo de su
                            perro, además de desempeñan un papel crítico en muchas de las funciones corporales de su
                            perro, incluyendo su metabolismo, crecimiento, comportamiento y especialmente en su libido.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-9.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Recoratorios de vacunas y controles</div>
                        <div class="project-card">Nuestro servicio de recordatorios de vacunas y chequeos médicos es una
                            herramienta práctica y confiable para mantener a tus mascotas al día con su cuidado de
                            salud.</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-6.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Profesionales</div>
                        <div class="project-card">Contamos con expertos veterinarios altamente capacitados y
                            comprometidos con brindar atención excepcional a cada paciente. Además, contamos con un
                            personal amable y atento que se preocupa por el bienestar de su mascota y está disponible
                            para responder cualquier pregunta o inquietud que tenga.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<section class="page-section clearfix clearfix-2">
    <div class="container">
        <div class="intro-2">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/services-2.png" alt="...">
            <div class="intro-text cuadro-text-2 left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Servicios</span>
                    <span class="section-heading-lower">Acicalamiento</span>
                </h2>
                <p class="mb-3">Nuestro servicio de acicalamiento utiliza la última tecnología en cuidado y estilismo para mascotas con un enfoque amoroso y respetuoso hacia cada animal.</p>
            </div>
        </div>
    </div>
</section>

<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-1.png" alt="..." />
                    <div class="portfolio-box-caption px-1">
                        <div class="project-category text-white-50">Módulo Sanitario "Perro Feliz"</div>
                        <div class="project-card">Tecnología de vanguardia para mantener a las mascotas limpias y
                            saludables. Contamos con bañeras especiales que combinan agua y aire para brindar un baño
                            suave y relajante y sin causarles estrés. ¡Tu perro saldrá luciendo y sintiéndose como una
                            estrella de cine!</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-12.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Tratamiento anti pulgas</div>
                        <div class="project-card">Nuestro tratamiento anti pulgas altamente efectivo es la solución
                            definitiva para proteger a tus mascotas y tu hogar de estos molestos parasitos. Contamos con
                            servicios manuales y automatizados.</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-10.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Acicalamiento a mano</div>
                        <div class="project-card">Nuestros expertos estilistas caninos se dedican a brindar un
                            acicalamiento meticuloso y detallado, utilizando técnicas de mano que resaltan la belleza
                            natural de tu mascota.</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-4.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Cinta Transportadora de Perro</div>
                        <div class="project-card">Utilizamos sensores de movimiento y control automático para permitir
                            un desplazamiento seguro de las mascotas a lo largo de nuestras instalaciones. Nuestras
                            jaulas proporcionan un espacio amplio y cómodo para que tu perro se sienta tranquilo y
                            relajado, eliminando la necesidad de que tu perro camine o sea transportado manualmente.
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-5.png" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Barniz protector para dientes</div>
                        <div class="project-card">Este producto ha sido desarrollado para limpiar los dientes, combatir
                            la placa y el sarro, ayudando a prevenir las enfermedades de los dientes y las encías, así
                            como también el mal aliento en perros. Mientras se disuelve libera un refrescante aliento, y
                            su rico sabor a pollo hace que sea muy atractivo para su mascota.</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" title="Project Name">
                    <img class="img-fluid" src="/assets/portafolio-11.png" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Recordatorio de cuidado y tratamiento</div>
                        <div class="project-card">Nuestro servicio de recordatorios de tratamientos es una herramienta
                            práctica y confiable para mantener a tus mascotas al día con sus cuidados e higiene.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<section class="container mt-5">
    <div class="row gx-4 gx-lg-5 justify-content-center my-5">
        <div class="col-lg-8 col-xl-6 text-center">
            <h2 class="mt-0">Beneficios exclusivos</h2>
            <hr class="divider" />
        </div>
    </div>
    <div class="row">
        <div id="specials" class="specials">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Estacionamiento</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Ambiente</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Encuentranos</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Estacionamiento de fácil acceso</h3>
                                        <p class="fst-italic">Nuestro estacionamiento exclusivo brinda a nuestros
                                            clientes la comodidad y la tranquilidad de tener un lugar reservado para
                                            estacionar al visitar nuestra veterinaria.</p>
                                        <p>Sabemos lo importante que es encontrar estacionamiento, especialmente cuando
                                            se trata de traer a tu mascota o peor aun ¡En una emergencia!.</p>
                                        <p>Con nuestro estacionamiento exclusivo, garantizamos que tendrás un lugar
                                            conveniente y accesible, lo que facilita tu visita y reduce el estrés tanto
                                            para ti como para tu mascota.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="assets/specials-1.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Ambiente Apacible para tu Peludo</h3>
                                        <p class="fst-italic">Nuestro espacio está diseñado cuidadosamente para reducir
                                            el estrés, asegurando un entorno tranquilo y seguro.</p>
                                        <p>Además, ambientamos nuestra clínica con música suave y relajante,
                                            contribuyendo a un ambiente calmado.</p>
                                        <p>Nuestro personal altamente capacitado está dedicado a manejar a las mascotas
                                            con cuidado y empatía, utilizando técnicas suaves y respetuosas para
                                            minimizar cualquier ansiedad</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="assets/specials-2.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Reconocenos facilmente</h3>
                                        <p class="fst-italic">Nuestra veterinaria se distingue por su entrada única y
                                            memorable, ubicada entre dos imponentes hidrantes de bomberos dorados.</p>
                                        <p>Estos llamativos elementos resaltan el carácter distintivo de nuestro
                                            edificio, convirtiéndolo en un punto de referencia reconocible de inmediato.
                                        </p>
                                        <p>Los hidrantes dorados agregan un toque de encanto y originalidad, invitándote
                                            a descubrir la atención experta y la pasión que nos distingue en la atención
                                            veterinaria.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="assets/specials-3.png" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="row gx-4 gx-lg-5 justify-content-center my-5">
        <div class="col-lg-8 col-xl-6 text-center">
            <h2 class="mt-0">Nuestros clientes</h2>
            <hr class="divider" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="/assets/feedback-1.png" alt="...">
        </div>
        <div class="col-4">
            <img class="img-fluid" src="/assets/feedback-3.png" alt="...">
        </div><!-- /.col-lg-4 -->
        <div class="col-4">
            <img class="img-fluid" src="/assets/feedback-2.png" alt="...">
        </div>
    </div>
</section>

<section class="container-fluid mt-5 px-0 mx-0">
    <div>
        <div class="container gx-4 gx-lg-5 justify-content-center mt-5 mb-3">
            <div class="text-center">
                <h2 class="mt-0">En PerroFeliz pensamos en el medio ambiente</h2>
            </div>
        </div>
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/assets/perro-mundoV2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d  -none d-md-block">
                  <h4 class="text-white"><strong>Cuidado del medio ambiente</strong></h4>
                  <p><strong><h5 class="text-white">Nos preocupamos en la salud de nuestro planeta,
                     colaboramos para ayudar a combatir
                    la contaminacion y el calentamiento global.</h5></strong>
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/assets/main-jardin.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h4 class="text-white"><strong>Resiclado de Agua</strong></h4>
                  <p><strong><h5 class="text-white">
                    Toda el agua que se utliza en nuestros servicios de lavado de jaulas y baño de los perritos
                     se conserva en tanques y son tratadas para su reutiliacion para el uso del 
                    riego de plantas de las instalaciones.
                </h5></strong></p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/assets/perrofeliz_medio_ambiente_1V2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h4 class="text-white"><strong>Resiclado de Aceite</strong></h4>
                  <p><strong><h5 class="text-white">El manteniendo de la cinta trasportadora de perros 
                    deja como residuo un aceite en desuso, el cual es enviado a una planta que lo trata
                    y lo reutiliza para otros fines.</h5></strong></p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
    </div>
</section>

<section class="page-section pt-5" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">¡Reserva tu turno!</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">* Recuerda que los turnos solamente aplican a las cirugías, para cualquier
                    otro procedimiento dirígete a alguno de nuestros locales ¡sin espera alguna!</p>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d353.19660498824663!2d8.623907621505305!3d44.911693350727944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47877416947bff95%3A0xb26fc2a9a2705ba4!2sVia%20Marengo%2C%2017%2C%2015121%20Alessandria%20AL%2C%20Italia!5e0!3m2!1ses-419!2sar!4v1684350267128!5m2!1ses-419!2sar"
                    width="100%" height="450rem" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-6">
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-10">
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..."
                                    data-sb-validations="required" />
                                <label for="name">Nombre completo</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com"
                                    data-sb-validations="required,email" />
                                <label for="email">Email</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.
                                </div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Phone number input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890"
                                    data-sb-validations="required" />
                                <label for="phone">Celular</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is
                                    required.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text"
                                    placeholder="Enter your message here..." style="height: 10rem"
                                    data-sb-validations="required"></textarea>
                                <label for="message">Mensaje</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.
                                </div>
                            </div>
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a
                                        href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage">
                                <div class="text-center text-danger mb-3">Error sending message!</div>
                            </div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton"
                                    type="submit">Enviar</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                    <i class="bi-phone fs-2 mb-3 text-muted"></i>
                    <div>+54 (17) 412-3123</div>
                </div>
            </div>
        </div>
    </div>
</section>