<main>
    <div class="w-100 m-0 p-0 border-end border-5">
    <img class="headerPhoto p-0" style="transform: scaleX(-1);" src="./assets/header-historia.jpg" alt="Perro">
    <h1 class="titlePhoto text-body-secondary text-dark">Nuestra Historia</h1>
    <div class="col-md-5 my-4 titlePhoto">
        <div class="position-sticky mt-5" style="top: 2rem;">
            <div class="p-3 mb-3 bg-body-secondary rounded-3 border border-2 text-dark">
                <h4 class="fst-italic"><span class="spanTitle">Cómo Surgio PerroFelíz</span></h4>
                <p class="mb-0" style="font-weight: 600;">Gerardo Moreno, fundador de la empresa PerroFeliz, creó una
                    clínica veterinaria debido a una experiencia personal en la que su perro Bombón necesitó atención de
                    emergencia y no pudo encontrar una clínica veterinaria disponible. Como resultado, decidió fundar
                    una clínica veterinaria que ofreciera servicios excepcionales y de calidad a las mascotas de la
                    ciudad, incluidas emergencias fuera del horario de atención habitual.</p>
                <div class="text-end">
                    <button type="button text" onClick="document.getElementById('historia-completa').scrollIntoView();"
                        class="btn btn-link mx-3  ">Conocer más...</button>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
        <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 50%;"
            id="Geografía">
            <div class="my-3 py-3">
                <h2 class="display-5 mb-3">Ámbito Geográfico</h2>
                <img src="./assets/historia-geo.png" width="150" class="mb-4">
                <p class="lead">Actualmente Perro Feliz abarca un 50% del mercado en dos Regiones, comunidad y zonas
                    aledañas del área metropolitana.</p>
            </div>
        </div>
        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width: 50%;"
            id="Tamaño">
            <div class="my-3 p-3">
                <h2 class="display-5 mb-3">Sucursales</h2>
                <img src="./assets/historia-tamaño.png" width="150" class="mb-4">
                <p class="lead">Nuestro negocio cuenta con una cadena de establecimientos en la gran área metropolitana.
                    Contamos con una SUCURSAL CASA CENTRAL y 4 clínicas más PerroFelíz.</p>
            </div>
        </div>
    </div>

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
        <div class="container mb-5">
            <div class="row justify-content-around" style="text-align: center;">
                <h1 class="display-6 fw-normal mb-5">Campo de Actividad</h1>
                <div class="col-3 border border-3 rounded">
                    <img class="imageAD mt-3 mb-4" src="./assets/historia-areas.png" alt="">
                    <h2 class="fw-normal">Areas</h2>
                    <p style="text-align: left;">● Vacunación</p>
                    <p style="text-align: left;">● Diagnósticos y prescripción.</p>
                    <p style="text-align: left;">● Cuidado en general.</p>
                    <p style="text-align: left;">● Cirugías Programadas.</p>
                </div>
                <div class="col-3 border border-3 rounded">
                    <img class="imageAD mt-3 mb-4" src="./assets/historia-clientes.png" alt="">
                    <h2 class="fw-normal">Clientes</h2>
                    <p>Vecinos de la comunidad y zonas aledañas que buscan el cuidado canino rápido, destinado a
                        propietarios de perros activos.</p>
                </div>
                <div class="col-3 border border-3 rounded">
                    <img class="imageAD mt-3 mb-4" src="./assets/historia-funciones.png" alt="">
                    <h2 class="fw-normal">Funciones</h2>
                    <p style="text-align: left;">● Recepción y registro</p>
                    <p style="text-align: left;">● Área de acicalamiento</p>
                    <p style="text-align: left;">● Sanatorios con profesionales(veterinaria)</p>
                    <p style="text-align: left;">● Área contable para facturación y control de la casa central y demás
                        establecimientos</p>
                </div>
            </div>
        </div>
    </div>

    <div id="historia-completa" class="masthead text-white">
        <div class="container px-4 px-lg-5">
            <div class="row masthead-content gx-4 gx-lg-5 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-center">
                    <h1 class="masthead-subheading text-white font-weight-bold">PerroFeliz</h1>
                    <p class="centerP">La compañía nació a partir de una experiencia vivida por Gerardo Moreno, un ingeniero mecánico que llevaba una vida tranquila con su familia, y Bombón, un cachorro juguetón y travieso quien es el mejor amigo de la familia.</p>
                    <p class="centerP">Sin embargo, un día, mientras Gerardo estaba volviendo de un viaje de trabajo, se presentó una emergencia con Bombón. Gerardo salió corriendo, conduciendo frenéticamente por la ciudad para encontrar una clínica veterinaria. Después de buscar durante horas, Gerardo se dio cuenta de que no había ninguna clínica disponible en la ciudad que pudiera ayudar a su peludo amigo durante esos horarios de emergencia.</p>
                    <p class="centerP">Gerardo regresó a casa con Bombón, frustrado y triste por no poder ayudar a su mascota. Pero en su camino de regreso, se preguntó cómo podía ser que en una ciudad tan grande y desarrollada, no hubiera una clínica veterinaria disponible para su perro enfermo. ¿Acaso nadie se preocupaba por los animales de compañía en la ciudad? ¿Era este el tipo de servicio y eficiencia que quería para su comunidad?</p>
                    <p class="centerP">Fue entonces cuando Gerardo decidió que quería marcar una diferencia. Con su experiencia en ingeniería mecánica y su amor por los animales, se propuso fundar una clínica veterinaria que pudiera brindar un servicio excepcional y de calidad a las mascotas de la ciudad durante todos los días y siempre alertas ante emergencias fuera del horario de atención habitual.</p>
                    <p class="centerP">Esa Veterinaria es PerroFelíz y con el tiempo se convirtió en un gran éxito. La pasión y dedicación de Gerardo por su trabajo se extendió por toda la ciudad y aledaños.</p>
                </div>
            </div>
        </div>
    </div>
</main>
