<main>
    <div>
        <h1>Cómo Surgio PerroFelíz</h1>
        <p>La compañía nació a partir de una experiencia vivida por Gerardo Moreno, un ingeniero mecánico que llevaba una vida tranquila con su familia, y Bombón, un cachorro juguetón y travieso quien es el mejor amigo de la familia.</p>
        <p>Sin embargo, un día, mientras Gerardo estaba volviendo de un viaje de trabajo, se presentó una emergencia con Bombón. Gerardo salió corriendo, conduciendo frenéticamente por la ciudad para encontrar una clínica veterinaria. Después de buscar durante horas, Gerardo se dio cuenta de que no había ninguna clínica disponible en la ciudad que pudiera ayudar a su peludo amigo durante esos horarios de emergencia.</p>
        <p>Gerardo regresó a casa con Bombón, frustrado y triste por no poder ayudar a su mascota. Pero en su camino de regreso, se preguntó cómo podía ser que en una ciudad tan grande y desarrollada, no hubiera una clínica veterinaria disponible para su perro enfermo. ¿Acaso nadie se preocupaba por los animales de compañía en la ciudad? ¿Era este el tipo de servicio y eficiencia que quería para su comunidad?</p>
        <p>Fue entonces cuando Gerardo decidió que quería marcar una diferencia. Con su experiencia en ingeniería mecánica y su amor por los animales, se propuso fundar una clínica veterinaria que pudiera brindar un servicio excepcional y de calidad a las mascotas de la ciudad durante todos los días y siempre alertas ante emergencias fuera del horario de atención habitual.</p>
        <p>Esa Veterinaria es PerroFelíz y con el tiempo se convirtió en un gran éxito. La pasión y dedicación de Gerardo por su trabajo se extendió por toda la ciudad y aledaños.</p>
    </div>
    <div>
        <h1>Como PerroFelíz opera y se relaciona con su entorno</h1>
        <div>
            <div>
                <img src="" alt="">
                <h2>Tamaño </h2>
                <p>Nuestro negocio cuenta con una cadena de establecimientos en la gran área metropolitana. Contamos con una SUCURSAL CASA CENTRAL y 4 clínicas más PerroFelíz.</p>
            </div>
            <div>
                <img src="" alt="">
                <h2>Campo de Actividad</h2>
                <p></p>
            </div>
            <div>
                <img src="" alt="">
                <h2>Ámbito Geográfico de su Actividad</h2>
                <p>Actualmente Perro Feliz abarca un 50% del mercado en dos Regiones, comunidad y zonas aledañas del área metropolitana.</p>
            </div>
        </div>
    </div>
</main>
