<header class="header p-3 text-bg-light position-fixed w-100" >
    <div class="transparent container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a [routerLink]="['']" class="d-flex col-2 align-items-center mb-2 mb-lg-0 text-decoration-none">
          <img src=".\assets\logo.png" alt="" width="50">
          <span class="fs-4 nav-title text-dark m-2">PerroFeliz</span>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a [routerLink]="['']" class="nav-link px-2 text-dark">Principal</a></li>
          <li><a [routerLink]="['actividades']" class="nav-link px-2 text-dark">Actividades</a></li>
          <li><a [routerLink]="['tecnologia']" class="nav-link px-2 text-dark">Tecnología</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Nosotros</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['quienes-somos']">¿Quiénes somos?</a></li>
              <li><a class="dropdown-item" [routerLink]="['historia']">Historia</a></li>
              <li><a class="dropdown-item" [routerLink]="['miembros']">Miembros</a></li>
              <li><a class="dropdown-item" [routerLink]="['acerca-de']">Acerca de PerroFeliz</a></li>
            </ul>
          </li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-light" placeholder="Buscar..."
            aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-dark me-2">Iniciar sesión</button>
          <button type="button" class="btn btn-success">Registrarse</button>
        </div>
      </div>
    </div>
</header>