<div class="w-100 m-0 p-0">
  <img class="headerPhoto p-0" src="./assets/header-quienes-somos.jpg" alt="Perro">
  <h1 class="titlePhoto">¿Quiénes somos?</h1>
  <div class="col-4 textPhoto">
    <p>Somos <span class="spanTitle">PerroFeliz</span> como un pequeño establecimiento dirigido a nuestro vecindario
      hace 3 años, sin embargo, hoy en día estamos dando tratamiento a los fieles compañeros caninos de toda la
      ciudad, y más allá, a lo largo de nuestros cinco establecimientos en la gran área metropolitana.</p>
    <p>En nuestras veterinarias, estamos comprometidos con el bienestar de todas las mascotas que llegan a nuestras
      instalaciones.</p>
  </div>
</div>

<div class="container">
  <div class="py-3">
    <h2 class="sectionTitle mb-0 mt-5">Creemos en</h2>
    <p class="sectionP mb-4 mt-0">“Brindar una asistencia canina excepcional, ágil y creativa a diario para que cada
      perro reciba el amor y
      cuidado que merece, sin quedar jamás a la deriva”</p>
  </div>

  <div class="row">
    <h2 class="sectionTitle font-face">Nuestras Características</h2>

    <div class="col-1"></div>
    <div class="col-10 pt-3">
      <div class="row rowCard align-items-center border border-3 colorBorder rounded m-5">
        <div class="col-4 text-center">
          <img class="iconPhoto" src="../assets/acerca-de-perro.png" alt="">
        </div>
        <div class="col-7">
          <h2>Servicio excepcional</h2>
          <p>Trabajamos profesionalmente para garantizar que cada can reciba la atención que necesita, ya sea una
            revisión de rutina, un acicalamiento o una intervención quirúrgica de emergencia.</p>
        </div>
      </div>

      <div class="row rowCard align-items-center justify-content-end text-end border border-3 colorBorder rounded m-5">
        <div class="col-7">
          <h2>Accesible</h2>
          <p>Entendemos que la atención médica de las mascotas no siempre es asequible, por lo que nos esforzamos por
            ofrecer precios razonables y opciones de pago flexibles para que nuestros servicios sean asequibles para
            todos.</p>
        </div>
        <div class="col-4 text-center">
          <img class="iconPhoto" src="./assets/acerca-de-precio.png" alt="">
        </div>
      </div>

      <div class="row rowCard align-items-center border border-3 colorBorder rounded m-5">
        <div class="col-4 text-center">
          <img class="iconPhoto" src="./assets/acerca-de-calendario.png" alt="">
        </div>
        <div class="col-7">
          <h2>Atención diaria</h2>
          <p>Ofrecemos una asistencia diaria para poder cuidar de nuestros pacientes y estamos vigilantes en todo
            momento
            para socorrer cualquier urgencia que pueda surgir fuera del horario habitual.</p>
        </div>
      </div>
    </div>
  </div>
</div>