<header class="masthead text-white">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row masthead-content gx-4 gx-lg-5 h-100 align-items-center justify-content-start text-center">
            <div class="col-lg-8 align-self-center">
                <h1 class="masthead-heading mb-0 text-white font-weight-bold">Miembros</h1>
                <h1 class="masthead-subheading text-white font-weight-bold">- Nuestro equipo -</h1>
            </div>
        </div>
    </div>
</header>
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="./assets/miembros-gerardo.png" alt="..."></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Gerardo Moreno</h2>
                    <h4>Fundador</h4>
                    <p>Amante de los animales y comprometido con su bienestar. Fundador de PerroFeliz, donde trabajamos con pasión y dedicación para cuidar de las mascotas de nuestra comunidad. En mi tiempo libre, me encanta salir a correr por el parque y pasar tiempo en familia con mi perro fiel.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="./assets/miembros-mirta.png" alt="..."></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Mirta Berros</h2>
                    <h4>Agente de Servicio al Cliente</h4>
                    <p>Como la encargada del servicio al cliente, mi objetivo es brindar un excelente servicio al cliente y asegurarme de que nuestros pequeños pacientes reciban el mejor cuidado posible.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="./assets/miembros-jorge.png" alt="..."></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Jorge Burgos</h2>
                    <h4>Contador</h4>
                    <p>Apasionado por los números y comprometido con la estabilidad financiera de la clínica. En mi tiempo libre, disfruto la lectura, el ajedrez y el senderismo. Listo para ofrecer consejos financieros útiles</p>
                </div>
            </div>
        </div>
    </div>
</section>
