<main>
  <div class="w-100 m-0 p-0">
    <img class="headerPhoto p-0" style="top: -15px;" src="./assets/header-acerca-de.png" alt="Perro">
    <h1 class="titlePhoto">Nuestra filosofía</h1>
    <div class="col-4 textPhoto">
      <p style="font-weight: 600;">En nuestra apasionada empresa veterinaria, entendemos que los perros ocupan
        un lugar especial en nuestros hogares y en nuestros corazones. Reconocemos que son miembros valiosos 
        de nuestras familias. Por eso, nos comprometemos a brindarles la posibilidad de acceder a los mejores
        cuidados y a la mejor atención médica posible, sin importar el horario en que lo requieran y a un bajo costo.
      </p>
    </div>
  </div>

  <div class="container my-5">
    <div class="row justify-content-around" style="text-align: center;">
      <div class="col-3 border border-3 rounded colorBorder">
        <img class="imageAD mt-3 mb-4" src="./assets/acerca-de-mision.png" alt="">
        <h2 class="fw-normal">Misión</h2>
        <p>Proporcionar un servicio veterinario y de acicalamiento excepcional con atención diaria y rápida, 
          siendo un apoyo incondicional en
          cada etapa de la vida de sus amigos peludos para ayudar a mantenerlos saludables y felices.</p>
      </div>
      <div class="col-3 border border-3 rounded colorBorder">
        <img class="imageAD mt-3 mb-4" src="./assets/acerca-de-vision.png" alt="">
        <h2 class="fw-normal">Visión</h2>
        <p>Aspiramos a ser una de las mejores clínicas veterinarias de la zona y expandirnos hacia otras ciudades, ofreciendo una atención rápida y de alta calidad en todo momento, que garantice la salud y el bienestar de cada mascota que llegue a nuestras instalaciones.</p>
      </div>
      <div class="col-3 border border-3 rounded colorBorder">
        <img class="imageAD mt-3 mb-4" src="./assets/acerca-de-proposito.png" alt="">
        <h2 class="fw-normal">Propósito</h2>
        <p>Nos esforzamos por ser un centro veterinario confiable, que brinde una atención excepcional, rápida y asequible para 
          todas las mascotas.  
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="background-color: lightgray; height: 18rem; align-items: center;">
    <div class="container pt-1">
      <h2 class="sectionTitle mb-0 mt-5 text-dark">Nuestros Valores</h2>
      <p class="sectionP mb-4 mt-0">"Nos enfocamos no solo en el bienestar físico de nuestros pacientes, sino también en su bienestar emocional, procurando que su experiencia en nuestras instalaciones sea amena y libre de estrés."</p>
    </div>
  </div>

  <div class="container my-5">
    <div class="row justify-content-around" style="text-align: center;">
      <div class="col-3 border border-3 rounded colorBorder">
        <img class="imageAD mt-3 mb-4" src="./assets/acerca-de-mision.png" alt="">
        <h2 class="fw-normal">Amor</h2>
        <p>Creemos firmemente en la importancia de brindar un trato amoroso y cuidadoso a cada uno de los animales que llegan a nosotros.</p>
      </div>
      <div class="col-3 border border-3 rounded colorBorder">
        <img class="imageAD mt-3 mb-4" src="./assets/acerca-de-vision.png" alt="">
        <h2 class="fw-normal">Responsabilidad</h2>
        <p>Nos enorgullece asumir la gran responsabilidad de cuidar a los adorables animales de nuestros clientes. 
          Juntos, trabajaremos para garantizar el bienestar y la felicidad de sus mascotas.
        </p>
      </div>
      <div class="col-3 border border-3 rounded colorBorder">
        <img class="imageAD mt-3 mb-4" src="./assets/acerca-de-proposito.png" alt="">
        <h2 class="fw-normal">Innovación</h2>
        <p>Buscamos nuevas formas de mejorar la atención médica veterinaria y las aplicamos de manera efectiva en
          beneficio de nuestros pacientes y sus dueños.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <p class="sectionP mb-4 mt-0 text-dark">"Estamos comprometidos con promover el bienestar y cuidado animal, porque
      una
      comunidad que cuida y respeta a sus animales reconoce que el amor y compasión por ellos no solo mejora su calidad
      de
      vida, sino también la nuestra como seres humanos."</p>
    <img class="headerPhoto" src="./assets/acerca-de-footer.jpg" style="height: 25rem;" alt="perritos">
  </div>
</main>