<main>
  <div class="w-100 m-0 p-0">
    <img class="headerPhoto p-0" style="top: -15px;" src="./assets/header-acerca-de.png" alt="Perro">
    <h1 class="titlePhoto">Nuestra filosofía</h1>
    <div class="col-4 textPhoto">
      <p style="font-weight: 600;">En nuestra apasionada empresa veterinaria, entendemos que los perros ocupan
        un lugar especial en nuestros hogares y en nuestros corazones. Reconocemos que son miembros valiosos
        de nuestras familias. Por eso, nos comprometemos a brindarles la posibilidad de acceder a los mejores
        cuidados y a la mejor atención médica posible, sin importar el horario en que lo requieran y a un bajo costo.
      </p>
    </div>
  </div>

  <section class="my-5 py-5">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
          <div class="rotating-card-container">
            <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
              <div class="front front-background"
                style="background-image: url(./assets/acerca-de-mision2.png); background-size: cover;  height: 30rem;">
                <div class="card-body py-7 text-center my-5">
                  <h3 class="text-white text-card-2">Mision</h3>
                </div>
              </div>
              <div class="back back-background"
                style="background-image: url(./assets/acerca-de-mision2.png); background-size: cover;">
                <div class="card-body pt-7 text-center my-5">
                  <h3 class="text-white text-card-2">Nuestra <br> misión</h3>
                  <div style="height: 3rem;"></div>
                  <p class="text-white opacity-8 mx-4 text-card-4">Proporcionar un servicio veterinario y de acicalamiento excepcional con atención diaria y rápida, siendo un apoyo incondicional en cada etapa de la vida de sus amigos peludos para ayudar a mantenerlos saludables y felices.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
          <div class="rotating-card-container">
            <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
              <div class="front front-background"
                style="background-image: url(./assets/acerca-de-proposito2.png); background-size: cover;  height: 30rem;">
                <div class="card-body py-7 text-center my-5">
                  <h3 class="text-white text-card-2">Visión</h3>
                </div>
              </div>
              <div class="back back-background"
                style="background-image: url(./assets/acerca-de-proposito2.png); background-size: cover;">
                <div class="card-body pt-7 text-center my-5">
                  <h3 class="text-white text-card-2">Nuestra <br> visión</h3>
                  <div style="height: 3rem;"></div>
                  <p class="text-white opacity-8 mx-4 text-card-4">Aspiramos a ser una de las mejores clínicas veterinarias de la zona y expandirnos hacia otras ciudades, ofreciendo una atención rápida y de alta calidad en todo momento, que garantice la salud y el bienestar de cada mascota que llegue a nuestras instalaciones.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
          <div class="rotating-card-container">
            <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
              <div class="front front-background"
                style="background-image: url(./assets/acerca-de-vision2.png); background-size: cover;  height: 30rem;">
                <div class="card-body py-7 text-center my-5">
                  <h3 class="text-white text-card-2">Propósito</h3>
                </div>
              </div>
              <div class="back back-background"
                style="background-image: url(./assets/acerca-de-vision2.png); background-size: cover;">
                <div class="card-body pt-7 text-center my-5">
                  <h3 class="text-white text-card-2">Nuestro <br> Propósito</h3>
                  <div style="height: 3rem;"></div>
                  <p class="text-white opacity-8 mx-4 text-card-4">Nos esforzamos por ser un centro veterinario confiable, que brinde una atención excepcional, rápida y asequible para todas las mascotas.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container-fluid" style="background-color: #1d8841; height: 18rem; align-items: center;">
    <div class="container pt-1">
      <h2 class="sectionTitle mb-0 mt-5">Nuestros Valores</h2>
      <p class="sectionP mb-4 mt-0">"Nos enfocamos no solo en el bienestar físico de nuestros pacientes, sino también en su bienestar emocional, procurando que su experiencia en nuestras instalaciones sea amena y libre de estrés."
      </p>
    </div>
  </div>


  <section class="my-5 py-5">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
          <div class="rotating-card-container">
            <div class="card card-rotate qq card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
              <div class="front front-background"
                style="background-image: url(./assets/identidad-amor.jpeg); background-size: cover;  height: 30rem;">
                <div class="card-body py-7 text-center my-5">
                  <h3 class="text-white text-card-2">Amor</h3>
                </div>
              </div>
              <div class="back back-background"
                style="background-image: url(./assets/identidad-amor.jpeg); background-size: cover;">
                <div class="card-body pt-7 text-center my-5">
                  <div style="height: 3rem;"></div>
                  <p class="text-white opacity-8 mx-4 text-card-3">Creemos firmemente en la importancia de brindar un trato amoroso y cuidadoso a cada uno de los animales que llegan a nosotros.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
          <div class="rotating-card-container">
            <div class="card card-rotate qq card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
              <div class="front front-background"
                style="background-image: url(./assets/identidad-responsabilidad.jpg); background-size: cover;  height: 30rem;">
                <div class="card-body py-7 text-center my-5">
                  <h3 class="text-white text-card-2">Responsabilidad</h3>
                </div>
              </div>
              <div class="back back-background"
                style="background-image: url(./assets/identidad-responsabilidad.jpg); background-size: cover;">
                <div class="card-body pt-7 text-center my-5">
                  <div style="height: 3rem;"></div>
                  <p class="text-white opacity-8 mx-4 text-card-3">Nos enorgullece asumir la gran responsabilidad de cuidar a los adorables animales de nuestros clientes. Juntos, trabajaremos para garantizar el bienestar y la felicidad de sus mascotas.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
          <div class="rotating-card-container">
            <div class="card card-rotate qq card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
              <div class="front front-background"
                style="background-image: url(./assets/identidad-innovacion.png); background-size: cover;  height: 30rem;">
                <div class="card-body py-7 text-center my-5">
                  <h3 class="text-white text-card-2">Innovación</h3>
                </div>
              </div>
              <div class="back back-background"
                style="background-image: url(./assets/identidad-innovacion.png); background-size: cover;">
                <div class="card-body pt-7 text-center my-5">
                  <div style="height: 3rem;"></div>
                  <p class="text-white opacity-8 mx-4 text-card-3">Buscamos nuevas formas de mejorar la atención médica veterinaria y las aplicamos de manera efectiva en beneficio de nuestros pacientes y sus dueños.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <p class="sectionP mb-4 mt-0 text-dark">"Estamos comprometidos con promover el bienestar y cuidado animal, porque
      una
      comunidad que cuida y respeta a sus animales reconoce que el amor y compasión por ellos no solo mejora su calidad
      de
      vida, sino también la nuestra como seres humanos."</p>
    <img class="headerPhoto" src="./assets/acerca-de-footer.jpg" style="height: 25rem;" alt="perritos">
  </div>
</main>