.colorBorder {
    border-color: #009899 !important;
}

.transparent {
    background-color: #00000000;
}

.headerPhoto {
    position: inherit;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 40rem;
    z-index: -1;
}

.titlePhoto {
    position: absolute;
    top: 12rem;
    left: 7rem;
    font-weight: bold;
    color: white;
}

.textPhoto {
    position: absolute;
    top: 20rem;
    left: 7rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}

.spanTitle {
    align-items: center;
    height: 50px;
    justify-content: left;
    width: 100%;
    font-weight: bold;
    color: #70c5a2;
}

.sectionTitle {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: left;
    width: 100%;
    font-weight: bold;
    color: white;
}

.sectionP {
    align-items: center;
    display: flex;
    margin: auto;
    height: 8rem;
    justify-content: center;
    width: 80%;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: rgb(218, 218, 218);
}

.rowCard {
    height: 12rem;
}

.iconPhoto {
    max-height: 30%;
}

.centerP {
    text-align: left;
    line-height: 2rem;
    font-size: 1.5rem;
    color: rgb(37, 37, 37);
}

.imageAD {
    width: 70%;
}

.main {
    height: 30rem;
}

.footer {
    height: 12rem;
    background-color: #679c44;
}


.rotating-card-container {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -ms-perspective: 800px;
    perspective: 800px;
}

.rotating-card-container .card-rotate {
    background: transparent;
    box-shadow: none;
}

.rotating-card-container .card-rotate:after {
    display: none;
}

.rotating-card-container .card {
    -webkit-transition: all 0.8s cubic-bezier(0.34, 1.45, 0.7, 1);
    -moz-transition: all 0.8s cubic-bezier(0.34, 1.45, 0.7, 1);
    -o-transition: all 0.8s cubic-bezier(0.34, 1.45, 0.7, 1);
    -ms-transition: all 0.8s cubic-bezier(0.34, 1.45, 0.7, 1);
    transition: all 0.8s cubic-bezier(0.34, 1.45, 0.7, 1);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.rotating-card-container .card .back,
.rotating-card-container .card .front {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    background-color: #fff;
    border-radius: 0.5rem;
    top: 0;
    left: 0;
    justify-content: center;
    align-content: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.rotating-card-container .card .back .card-body,
.rotating-card-container .card .front .card-body {
    justify-content: center;
    align-content: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -o-flex;
    display: flex;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.rotating-card-container .card .back:after,
.rotating-card-container .card .front:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    border-radius: 0.5rem;
    background-image: linear-gradient(195deg, #1d8841, #36DBB5);
    opacity: .85;
}

.rotating-card-container .qq .back:after,
.rotating-card-container .qq .front:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    border-radius: 0.5rem;
    background-image: linear-gradient(195deg, #AD1032, #488EAE);
    opacity: .85;
}

.rotating-card-container .card .front {
    z-index: 2;
    position: relative;
}

.rotating-card-container .card .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    z-index: 5;
    text-align: center;
    width: 100%;
    height: 100%;
}

.rotating-card-container .card .back.back-background .card-body {
    position: relative;
    z-index: 2;
}

.rotating-card-container .card .back .card-footer .btn {
    margin: 0;
}

.rotating-card-container .card .back .card-body {
    padding-left: 15px;
    padding-right: 15px;
}

.rotating-card-container:not(.manual-flip):hover .card {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.rotating-card-container.hover.manual-flip .card {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-profile .rotating-card-container .front {
    text-align: left;
}

.back-background .card-body {
    min-height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*       Fix bug for IE      */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {

    .rotating-card-container .card .back,
    .rotating-card-container .card .front {
        -ms-backface-visibility: visible;
        backface-visibility: visible;
    }

    .rotating-card-container .card .back {
        visibility: hidden;
        transition: visibility 0.3s cubic-bezier(0.34, 1.45, 0.7, 1);
    }

    .rotating-card-container .card .front {
        z-index: 4;
    }

    .rotating-card-container.manual-flip.hover .card .back,
    .rotating-card-container:not(.manual-flip):hover .card .back {
        z-index: 5;
        visibility: visible;
    }
}

.text-card-2 {
    color: #FFEBFE !important;
    font-size: 2.5rem;
    z-index: 50;
}

.text-card-3 {
    color: #FFEBFE !important;
    font-size: 1.25rem;
    z-index: 50;
}

.text-card-4 {
    color: #FFEBFE !important;
    font-size: 1.1rem;
    z-index: 50;
}